#l-header{
  width: 100%;
  padding-left: $space_4l;
  padding-right: $space_4l;
  font-family: $font-family_en;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  //スクロール時のクラス追加
  &.header--active{
    background: rgba(255, 255, 255, 0.9);
  }
}
